.shower_card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.shower_card:hover{
    filter: brightness(.7);
    transition: 0.8s;
}

.shower_card{
    width: 400px;
    position: relative;
    height: 400px;
    transition: 0.8s;
    /* margin-bottom: 2%; */
    margin-top: 5%;
    margin: 2% 3%;
}

.main_block_dush{
    display: flex;
    margin-top: 8%;
    justify-content: space-around;
    align-items: center;
}

.low_shower_block{
    position: relative;
    height: 950px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
    /* padding: 5%; */
}
#extra_fix {
    /* object-fit: none; */
    width: auto;
}

.hover_shower{
    height: 300px;
    width: 100%;
    /* background-color: rgba(59, 58, 58, 0.438); */
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.929));
    position: absolute;
    animation: forCards .5s forwards;
    /* transition: .5s; */
    /* transform: translateY(300px); */
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hover_shower h2{
    color: white;
    margin-top: 90px;
}

.hover_shower p{
    text-align: center;
    color: white;
}

.hover_div_stat{
    height: 300px;
    width: 75%;
    /* background-color: rgba(59, 58, 58, 0.438); */
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.929));
    position: absolute;
    animation: forCards .5s forwards;
    /* transition: .5s; */
    /* transform: translateY(300px); */
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hover_div_stat h2{
    color: white;
    margin-top: 90px;
}

.hover_div_stat p{
    text-align: center;
    color: white;
}

@keyframes forCards {
    0%{
        transform: translateY(300px);
        opacity: 0; 
         /* background-color: red */
    }
    /* 95%{
        opacity: 1;
    } */
    100%{ 
        opacity: 1;
        transform: translateY(101px);
        /* background: red;  */
     } 
} 

.left_shower{
    text-align: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(128, 130, 131, .6);
    color: white;
    width: 35%;
    height: 530px;
}

.dush_bg_low{
    position: absolute;
    z-index: -1;
    width: 100%;
    /* height: 1020px; */
    object-fit: cover;
    top: 0;
    height: 100%;
}