@media all and (max-width: 1201px){
    #product_Card{
        margin: 2% 10%;
    }

    .about_content{
        height: 1003px;
    }

    .about_bg > img{
        height: 1152px;
    }

    .icons_box{
        width: 88%;
    }
}

@media all and (max-width: 1025px){
    .header{
        height: 785px;
    }

    .header_box{
        width: 46%;
    }

    #product_Card{
        margin: 2% 0;
    }

    .icon_container h2{
        font-size: 24px;
    }
}

@media all and (max-width: 769px){
    .header{
        height: 760px;
    }

    .header_box{
        width: 58%;
    }

    .icons_box{
        flex-wrap: wrap;
        width: 84%;
    }

    .icon_container{
        height: 240px;
        margin: 0 2%;
    }

    #product_Card{
        height: 460px;
        width: 35%;
    }

    #shower_card{
        width: 35% !important;
        height: 460px;
    }
}

@media all and (max-width: 426px){
    .header_desc{
        font-size: 20px;
    }

    .modal_form{
        width: 70% !important;
    }

    .header_text{
        height: 560px !important;
    }

    .header{
        height: 540px;
    }

    .bg{
        height: 16%;
    }

    #product_Card{
        margin-top: 9%;
        width: 55%;
        height: 335px;
    }

    .card_img{
        height: 100%;
    }

    .why{
        margin-top: 530px;
    }

    #shower_card{
        width: 55% !important;
        margin-top: 9%;
    }

    .about_title{
        font-size: 20px;
        height: 68px;
        border-top: 3px solid #ff6700;
        border-bottom: 3px solid #ff6700;
    }

    .why_title{
        font-size: 20px;
        height: 68px;
        border-top: 3px solid #ff6700;
        border-bottom: 3px solid #ff6700;
    }

    .about_bg > img{
        height: 2000px;
    }

    .why{
        margin-top: 665px;
    }

    .why_icon{
        padding: 50px;
    }

    .why_icon img{
        width: 50px;
        height: 50px;
    }

    .icons_box{
        margin-top: 6%;
        width: 70%;
    }

    .icon_container{
        margin: 5% 15%;
        height: 165px;
    }

    .icon_container h2{
        white-space: nowrap;
    }

    .why_content{
        height: 835px;
        align-items: flex-start;
    }
}

@media all and (max-width: 376px){
    .header_box h1{
        font-size: 20px;
    }
    
    .header_desc{
        font-size: 18px;
    }

    .header_box button{
        font-size: 11px;
    }

    .header{
        height: 510px;
    }

    .card_h5{
        font-size: 20px !important;
    }

    .card_desc{
        font-size: 13px !important;
    }

    #shower_card{
        height: 365px;
    }

    .about_content{
        height: 875px;
    }

    .icon_container h2{
        font-size: 20px;
    }
}