@media all and (max-width: 1201px){
    .left_shower{
        font-size: 20px;
        height: 360px;
    }

    .shower_card{
        width: 316px;
    }

    .shower_card img{
        width: 300px;
        height: 369px;
    }

    .hover_div_stat{
        height: 269px;
        width: 278px;
    }
}

@media all and (max-width: 1025px){
   .shower_card{
    width: 240px;
    height: 300px;
   }

   .shower_card img{
    width: 250px;
    height: 290px;
   }

   .low_shower_block{
    height: 700px;
   }

   .hover_shower{
    width: 104%;
    height: 189px;
   }

   .hover_shower h2{
    margin-top: 80px;
    font-size: 20px;
   }

   .hover_shower p{
    font-size: 15px;
   }

   .hover_div_stat{
    height: 189px;
    width: 91%;
    }

    .hover_div_stat h2{
        margin-top: 26px;
    }
}

@media all and (max-width: 769px){
    .left_shower{
        font-size: 16px;
    }

    .main_block_dush{
        margin-top: 10%;
    }

    .shower_card{
        width: 200px;
    }

    .shower_card img{
        width: 200px;
    }

    .hover_shower{
        width: 100%;
        height: 140px;
    }

    .hover_shower h2{
        font-size: 18px;
        margin-top: 40px;
    }

    .hover_shower p{
        font-size: 12px;
    }

    
    .hover_div_stat {
        height: 140px;
        width: 90%;
    }
    .hover_div_stat h2{
        font-size: 18px;
        margin-top: 5px;
    }

    .hover_div_stat p{
        font-size: 12px;
    }
}

@media all and (max-width: 426px){
    .main_block_dush{
        flex-direction: column;
        margin-top: 30%;
    }

    .left_shower{
        width: 70%;
        height: 300px;
    }

    .carousel{
        width: 220px;
    }

    .top_carousel_img{
        height: 290px;
    }

    .shower_card{
        margin-bottom: 20%;
    }

    /* #static_dush{
        margin-bottom: 2%;
    } */

    #extra_fix{
        margin-bottom: 15%;
    }

    .dush_bg_low{
        height: 1440px;
    }
}

@media all and (max-width: 376px){
    .left_shower{
        font-size: 15px;
    }
}